NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
RESEND_API_KEY=re_xxxxxxxxx
RESEND_FROM_EMAIL=website@yourdomain.com
QUOTE_EMAIL_GRIMES=
QUOTE_EMAIL_CORALVILLE=
QUOTE_EMAIL_FORT_DODGE=
QUOTE_EMAIL_BIRCHWOOD=
QUOTE_EMAIL_CENTRAL=
